*{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
body{
    background-color:rgb(250,200,200);
}
#height{
    background-color: springgreen;
    height: 2em;

}
#weight{
    background-color: yellow;
    height: 2em;
}
h1{
    background-color: tomato;
    border: 4px solid white;
    padding: .5em;
    margin: 1em;
    width: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
#output{
  background-color: green;
  color: white;
  border:3px solid white;
  font-weight: bold;
  width: 20%;
  padding: 1.5em;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;

}
#f{
    position: relative;
    top:280px;
    right:480px;
    margin: auto;
    border:3px solid white;
    background-color: black;
    color: white;
    width: 150px;
}